[Desktop Entry]
Version=1.0
Type=Application
Name=Git Pull
Comment=Descargar cambios desde GitHub
Exec=gnome-terminal -- bash -c "cd /home/vickoto/Documentos/CodeVersoRPG-main && ./ejecutables_linux/git_pull.sh"
Icon=emblem-downloads
Terminal=false
Categories=Development;
